<%- include("header.ejs") %>
<%- include("nav.ejs") %>

<!-- =============== Conteúdo ================== -->
<div class="container mt-5 pt-5">
    <header>
        <h1>Books Online
            <small>Market Place de Livros  </small>
        </h1>
    </header>
    <!-- =============== Cadastro ================== -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-8">
            <div class="card">
                 <div class="card-body">
                    <h4 class="card-title">Preencha todos os campos</h4>
                    <form action="" method="POST" class="mt-3 mb-5">
                        <fieldset>
                            <legend>Cadastre-se</legend>
                        <ul class="list-unstyled">
                            <li>
                                <label for="nome_cadastro" >Nome:</label>
                                <input type="text" class="form-control" name="nome_cadastro" id="nome_cadastro" >
                            </li>
                            <li>
                                <label for="email_cadastro">Email:</label>
                                <input type="text" class="form-control" name="email_cadastro" id="email_cadastro" >
                            </li>
                            <li>
                                <label for="telefone_cadastro">Telefone:</label>
                                <input type="text" class="form-control" name="telefone_cadastro" id="telefone_cadastro" >
                            </li>
                            <li>
                                <label for="senha_cadastro">Senha:</label>
                                <input class="form-control" type="password" name="senha_cadastro" id="senha_cadastro" >
                            </li>
                            <li>
                                <label for="conf_senha_cadastro">Confirme a Senha:</label>
                                <input class="form-control" type="password" name="conf_senha_cadastro" id="conf_senha_cadastro" >
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info mt-5">Confirmar</button>
                            </li>
                        </ul>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    <!-- =============== Fim do Cadastro ================== -->

  
</div>
</div>
<!-- =============== Fim do Conteúdo ================== -->

<%- include("footer.ejs") %>